.productContainer {
	width: 350px;
	height: 375px;
	float: left;
	display: inline-block;	
}

#cardContainer {
	width: 1050px;
}

#cardContainer:after {
	display: table;
	content: "";
	clear: both; 
}


